.main_content{
    margin-left: 280px;
    margin-top: 50px;
  }
  .maindiv {
    margin-top: -100vh;
  }
  .content_label > h3 {
    margin: -40px 0 0 -50px;
    color: #042F39;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    text-indent: 12px;
    color: #042F39
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 38%;
    margin-left: 180px;
    margin-top: 20px;
    width: 839px;
    height: 292px;
    left: 451px;
    top: 157px;
    background: #F9F9F9;
    border-radius: 20px 0px;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
.card > p {
  font-size: 18px;
}