
.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #121212;
    padding: 15px 0;
    text-align: center;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }