@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.content {
    margin-left: 230px;
    padding: 1px 10px;
    height: calc(100vh - 60px);
}
.content > h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    color: #042F39;
}

@media screen and (max-width: 700px) {
    .content {
        margin-left: 140px;
        padding: 5px 5px 20px 5px ;
        height: calc(100vh - 60px);
    }
}
