@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');


.container {
  display: flex;
  align-items: center;
	min-width: 100vw;
  min-height: 100vh;
  background-color: #FFFFFF;
}

.content {
  display: flex;
	margin: 0 auto;
	width: 900px;
	height: 500px;
  border-style: none;
  background-color: #042F39;
}

.imagediv > img {
  width: 440px;
  height: 500px;
}

.form {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #042F39;
}

.mainform {
  height: 500px;
}

.mainform > h1 {
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  margin: 50px 0 -20px 0;
  font-family: 'Ubuntu Mono', monospace;
  color: white;
}

.mainform > h3 {
  text-align: center;
  font-size: 23px;
  font-weight: 400;
  font-style: normal;
  line-height: 33px;
  margin-bottom: 70px;
  font-family: 'Roboto Mono', monospace;
  color: #eeeeee;
}

.forminput {
  text-align: center;
}

.forminput > input {
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border-style: none;
  border-bottom: 3px solid #046649;
  margin-top: 10px;
  width: 380px;
  height: 43px;
  font-weight: 400;
  font-size: 20px;
  text-indent: 15px;
}

.primary {
  font-family: 'Roboto Slab', sans-serif;
  border-radius: 5px;
  margin-top: 30px;
  width: 380px;
  height: 38px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  background-color: #F08400;
  border: 1px solid #F08400;
  cursor: pointer;
}

.primary:hover {
  background-color: #f0911e;
  border: 2px #f0911e;
  transition: all 0.1s ease;
}