.btm_to_top {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: -70px 20px 20px 0;
}
.angleup {
    width: 40px;
    height: 60px;
    color: #ffffff;
    z-index: 20;
    animation: movebtn 2s ease-in-out infinite;
    transition: all .5s ease-in-out;
}
.angleup:hover {
    cursor: pointer;
}

@keyframes movebtn {
    0%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(20px);
    }
    100%{
      transform: translateY(0px);
    }
}
