.wrapper{
	background-color: #F5F5F5;;
}
.sidebar{
	background: #042F39;
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
}
.profile{
	height: 78px;
background: #042F39;
border-bottom: 4px solid #032730;
}

.profile > img{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 21px;
	top: 15px;
}
.profile > h3{
	position: absolute;
	width: 87px;
	height: 30px;
	left: 28px;
	top: 50px;
	font-family: 'Ubuntu Mono', monospace;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 30px;
	color: #FFFFFF;
}


.hello{
	margin-top: 35px;
	margin-left: -15px;
  	list-style-type: none;
}

.links > a{
	display: block;
	padding: 13px 30px;
	color: rgb(241, 237, 237);
	font-size: 16px;
	position: relative;
}
.item{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	display: flex;
	align-items: center;
	text-indent: 10px;
	position: absolute;
}

.icon > img{
	position: absolute;
	width: 25px;
	height: 25px;
	left: 5px;
	margin-top: 0px;
}
.item2{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	display: flex;
	align-items: center;
	text-indent: 10px;
	position: absolute;
	top: 55px;
}
.icon1 > img{
	position: absolute;
	width: 25px;
	height: 25px;
	left: 5px;
	margin-top: 39px;
}
.item3{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	display: flex;
	align-items: center;
	text-indent: 10px;
	position: absolute;
	top: 73px;
}
.icon2 > img{
	position: absolute;
	width: 25px;
	height: 25px;
	left: 5px;
	margin-top: 57px;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
	color: #0c7db1;
    border-right: 2px solid rgb(5, 68, 104);
}
.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
	color: #0c7db1;
}
.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
	display: block;
}

